{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Post</title>
</head>
<body>
  {% if obj == null %}
  <div class="container">
    <form action="." method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
      <h1>Add Post </h1>
      {{ form.as_p }}
      <button type="submit">Upload</button>
  </form>
      {% endif %}

  <hr>
  {% if obj  %}
<a href="/"> <h1>Go to Home Page</h1></a>
  <h3> Succesfully uploaded</h3>
  
  {% endif %}
</div>
</body>
</html>