{% load static %}
{% static "images" as baseUrl%}
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Single Post View</title>

<link rel='stylesheet' href="{% static 'css/woocommerce-layout.css'  type='text/css' media='all'%}"/>
<link rel='stylesheet' href="{% static 'css/woocommerce-smallscreen.css'  type='text/css' media='only screen and (max-width: 1024px)' %}"/>
<link rel='stylesheet' href="{% static 'css/woocommerce.css' type='text/css' media='all'%}"/>
<link rel='stylesheet' href="{% static 'css/font-awesome.min.css' type='text/css' media='all'%}"/>
<link rel='stylesheet' href="{% static 'css/style-single.css' type='text/css' media='all'%}"/>
<link rel='stylesheet' href= 'https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' href="{% static 'css/easy-responsive-shortcodes.css' type='text/css' media='all' %}"/>
</head>
<body class="blog">
<div id="page">
	<div class="container">
		<header id="masthead" class="site-header">
		<div class="site-branding">
			<h1 class="site-title"><a href="/" rel="home">Moschino</a></h1>
			<h2 class="site-description">Minimalist HTML Template</h2>
		</div>
		<nav id="site-navigation" class="main-navigation">
			<button class="menu-toggle">Menu</button>
			<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
			<div class="menu-menu-1-container">	
				<a style="padding-left: 48%; font-size: 20px;" href="/">Home</a>
		</div>
		</nav>
		</header>
		<div id="content" class="site-content">
			<div id="primary" class="content-area column two-thirds">
				<main id="main" class="site-main" role="main">
				<div class="grid bloggrid">
			
				<article>
					<header class="entry-header">
						<h2 class="entry-title" style="display: block; width: 40vw;">{{post.title}}</a></h2>
					
						<div class="entry-meta">
							<img src="{{post.image.url}}" alt="">
							<span class="posted-on"><time class="entry-date published">Created at: {{ post.created_at}}</time></span>				
							<br>
							<span time class="entry-date published">Updated at: {{ post.updated_at}}</time></span>
							<span class="comments-link"><a href="#"></a></span>
						</div>
					</header>
					<div class="entry-summary">
						<h3 style="display: block; width: 60vw;">
							{{post.description}}
						</h3>
					</div>
					<footer class="entry-footer">
						<h4>Author: {{user.username}}</h4>
						<h3>Place: {{post.place}} </h3>

					</footer>
				</article>
   </div>
   <div class="clearfix">
   </div>
   <nav class="pagination"></nav>
  </main>
 </div>
 
 <div id="secondary" class="column third">
  <div id="sidebar-1" class="widget-area" role="complementary">
   
   <aside id="text-5" class="widget widget_text">
    <div class="textwidget">
     
    </div>
   </aside>
   
   <aside id="text-6" class="widget widget_text">
    <h4 class="widget-title">Like us on Facebook</h4>
					<div class="textwidget">
						<a target="blank" href="https://www.facebook.com/maxiecu"> Like Us Here</a>
						Like US</button>					</div>
					</aside>
					<div class="textwidget">
						<!-- Place this tag in your head or just before your close body tag. -->
						<script src="https://apis.google.com/js/platform.js" async="" defer="" gapi_processed="true"></script>
						<!-- Place this tag where you want the widget to render. -->
						<div id="___page_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 300px; height: 377px; background: transparent;">

							</iframe>
						</div>
					</div>
					</aside>
					
				</div>
			</div>
		</div>
	</div>
	<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="site-info">
			<h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Moschino</h1>
			<a target="blank" href="https://www.wowthemes.net/">&copy; Moschino - Free HTML Template by WowThemes.net</a>
		</div>
	</div>
	</footer>
	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
</body>
</html>