{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en"> 
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/HomePageBlog.css' %}">
 <title>Contact</title>
</head>
<body>
<form method='POST'>
{% csrf_token %}
 {{form|crispy}}
 <br>
 <h4>Please Provide Your Email Adress In Message So We Could Contact With You</h4>
 <input class='btn' type="submit" value="Send Message">

</form>
</body>
</html>