{% load static %}
{% static "images" as baseUrl%}
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Blog Project</title>

<link rel='stylesheet' href="{% static 'css/woocommerce-layout.css'  type='text/css' media='all'%}"/>
<link rel='stylesheet' href="{% static 'css/woocommerce-smallscreen.css'  type='text/css' media='only screen and (max-width: 768px)' %}"/>
<link rel='stylesheet' href="{% static 'css/woocommerce.css' type='text/css' media='all'%}"/>
<link rel='stylesheet' href="{% static 'css/font-awesome.min.css' type='text/css' media='all'%}"/>
<link rel='stylesheet' href="{% static 'css/style.css' type='text/css' media='all'%}"/>
<link rel='stylesheet' href= 'https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' href="{% static 'css/easy-responsive-shortcodes.css' type='text/css' media='all' %}"/>
</head>
<body class="blog">
<div id="page">
	<div class="container">
		<header id="masthead" class="site-header">
		<div class="site-branding">
			<h1 class="site-title"><a href="/" rel="home">Moschino</a></h1>
			<h2 class="site-description">Minimalist HTML Template</h2>
		</div>
		<nav id="site-navigation" class="main-navigation">
		<div class="menu-menu-1-container">
			<ul id="menu-menu-1" class="menu">
				{% if user.is_authenticated %}
				<li>Hello, {{user.first_name}}</li>
								<li><a href="accounts/logout">Logout</a></li>
								<li><a href="add-post">Add Post</a></li>
								<li><a href="contact">Contact</a></li>
								{% else %} 
								<li><a href="accounts/register">Register</a></li>
								<li><a href="accounts/login">Login</a></li>
								<li><a href="contact">Contact</a></li>
								{% endif %}

									{% if user.is_superuser%}
								<li><a href="newsletter/newsletter-message">Send Newsletter</a></li>
								{% endif %}

								<!-- Searching  -->
								<form method="GET" action="" style="margin-left: 5.5vw;">
									<input type="text" name="q" placeholder="Search..." value="{{request.GET.q}}"/>
									<input type="submit" value="Search"/>				
								</form>
								

				</li>
			</ul>
		</div>
		</nav>
		</header>
		<div id="content" class="site-content">
			<div id="primary" class="content-area column two-thirds">
				<main id="main" class="site-main" role="main">
				<div class="grid bloggrid">
					<!-- Here starts searching by authors and place -->
					{%for list in list%}
					<article>
					<header class="entry-header">
					<h2><a href="{% url 'post-detail' list.pk%}" style="text-transform: uppercase; color: black;" rel="bookmark">{{list.title}}</a></h2>
						<div class="entry-meta">
							<img src="{{list.image.url}}" alt="">
							<hr>
							<span class="posted-on"><time class="entry-date published">Created at: {{ list.created_at}}</time></span>				
							<br>
							<span time class="entry-date published">Updated at: {{ list.updated_at}}</time></span>
							<span class="comments-link"><a href="#"></a></span>
						</div>
						<div class="entry-thumbnail">						
						</div>
					</header>
					<div class="entry-summary">
						<p>
							{{list.snippet}}
						</p>
<a href="{% url 'post-detail' list.pk%}" rel="bookmark">Click To Read More</a>
					</div>
					<footer class="entry-footer">
						<h4>Author: {{list.author}}</h4>
						<h3>Place: {{list.place}} </h3>
					</footer>
				</article>
					{%endfor%}
					<!-- end od seraching bu authors -->
				{% for post in posts  %}
				<article>
					<header class="entry-header">
						<h1 class="entry-title"><a href="{% url 'post-detail' post.pk%}" rel="bookmark">{{post.title}}</a></h1>
					
						<div class="entry-meta">
							<img src="{{post.image.url}}" alt="">
							<hr>
							<span class="posted-on"><time class="entry-date published">Created at: {{ post.created_at}}</time></span>				
							<br>
							<span time class="entry-date published">Updated at: {{ post.updated_at}}</time></span>
							<span class="comments-link"><a href="#"></a></span>
						</div>
						<div class="entry-thumbnail">						
						</div>
					</header>
					<div class="entry-summary">
						<p>
							{{post.snippet}}
						</p>
<a href="{% url 'post-detail' post.pk%}" rel="bookmark">Click To Read More</a>

					</div>
					<footer class="entry-footer">
						<h4>Author: {{post.author}}</h4>
						<h3>Place: {{post.place}} </h3>
					</footer>
				</article>
				{% endfor %}
			
				</div>
				<div class="clearfix">
				</div>
				<nav class="pagination"></nav>
				</main>
			</div>
			
			<div id="secondary" class="column third">
				<div id="sidebar-1" class="widget-area" role="complementary">
				
			
					
					<aside id="recent-posts-2" class="widget widget_recent_entries">
					<h4 class="widget-title">Recent Posts</h4>
					<ul>
						{% for post in posts %}
						<li>
<a href="{% url 'post-detail' post.pk%}" rel="bookmark">{{post.title}}</a>
						</li>
						{% endfor %}
						{% for list in list%}
							<li>
<a href="{% url 'post-detail' list.pk%}" rel="bookmark">{{list.title}}</a>
						</li>
						{%endfor%}
					</ul>
					</aside>
					
					<aside id="text-6" class="widget widget_text">
					<div class="textwidget">
		<a target="_blank" href="https://www.facebook.com/maxiecu"> <h3>Like Us On Facebook</h3></a>
						</div>
					</aside>
					
					<aside id="text-7" class="widget widget_text">
						<h3><a target="blank" href="newsletter"> Subscribe to our Newsletter</a></h3>
					<div class="textwidget">
						<!-- Place this tag in your head or just before your close body tag. -->
						<script src="https://apis.google.com/js/platform.js" async="" defer="" gapi_processed="true"></script>
						<!-- Place this tag where you want the widget to render. -->
						<div id="___page_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 300px; height: 377px; background: transparent;">

							</iframe>
						</div>
					</div>
					</aside>
					
				</div>
			</div>
		</div>
	</div>
	<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="site-info">
			<h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Moschino</h1>
			<a target="blank" href="https://www.wowthemes.net/">&copy; Moschino - Free HTML Template by WowThemes.net</a>
		</div>
	</div>
	</footer>
	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
</body>
</html>