<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Login</title>
</head>
<body>
 <form action="login" method="POST" style="padding: 20px;">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Username"> <br>
   <br>
  <input type="password" name="password" placeholder="Password"> <br>
   <hr>
  <input type="Submit" value="Log In">

 </form>
  <div>
  {% for message in messages %}
  <h3> {{message}} </h3>
  {% endfor %}
 </div>
</body>
</html>