{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en"> 
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Newsletter Message</title>
</head>
<body>

<form method="POST">
  {% csrf_token %}

  {{ form|crispy }}
  <br>
  <br>
  <input class="button" type="submit" value="Send Message">
</form> 
</body>
</html>