<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration</title>
</head>
<body>
<form action="register" method="POST" style="padding: 20px;">
  {% csrf_token %}
  
  <input type="text" name="first_name" placeholder="first name"> <br>
  <br>
  <input type="text" name="last_name" placeholder="last name"> <br>
  <br>
  <input type="text" name="username" placeholder="username"> <br>
  <br>
  <input type="email" name="email" placeholder="email"> <br>
  <br>
  <input type="password" name="password1" placeholder="Password"> <br>
  <br>
  <input type="password" name="password2" placeholder="Confirm Password"> <br>
  <hr>
    <input type="Submit" value="Register">
</form>
<div>
  {% for message in messages %}
  <h3> {{message}} </h3>
  {% endfor %}
</div>
</body>
</html>