*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 text-align: center;
 margin: 0 auto;
 margin-top: 35vh;
 height: 350px;
 width: 600px;
 border: 2px solid red;
}
.btn{
 margin-top: 40px;
 width: 150px;
 height: 50px;
 background-color: rgb(84, 192, 241);
 color: white;
 letter-spacing: 1.5px;
}